<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Tiny Blog</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
        </ul>
    </div>
</nav>