<div class="container">
    <h3>Chatroom: {{friendName}} ({{roomId}})</h3>
    <form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" class="btn" id="send-button">Send</button>
    </form>
</div>