<form class="col s12" action="/auth/login" method="post">
    <div class="row">
        <div class="input-field col s12">
            <input id="userName" type="text" name="userName" class="validate">
            <label for="userName">Username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
        </div>
    </div>
    <input type="submit" value="Login" class="btn">
</form>