<form class="col s12" action="/auth/register" method="post">
    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Placeholder" id="firstName" type="text" name="firstName" class="validate">
            <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s6">
            <input id="lastName" type="text" name="lastName" class="validate">
            <label for="lastName">Last Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="userName" type="text" name="userName" class="validate">
            <label for="userName">Username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
        </div>
    </div>
    <input type="submit" value="Register" class="btn">
</form>